* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

canvas {
    border: 1px solid black;
    position: absolute;
    margin-top: 200px;
}