* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

.container {
    display: flex;
    justify-content: center;
}

canvas {
    position: absolute;
    margin-top: 50px;
}

.image-wrapper {
    margin-top: 50px;
    background-image: url("./assets/elmer.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
}